.btn {
	margin-top: -10px;
	margin-bottom: 10px;
}

.black-background {
	background-color: #000000;
}

.white {
	color: #ffffff;
}

.black-background-disable {
	background-color: #979797;
}
.black-background-disable:HOVER {
	background-color: #979797;
  cursor:default;
	text-shadow: 0 0 10px #333, 0 0 20px #333, 0 0 30px #333;
}

.black-background:HOVER {
	background-color: #2e3436;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}
