@CHARSET "UTF-8";

.background-relation-working {
    background-color: black;
}

.panel-relation-working {
    border-color: black;
}

.color-working {
    color: red;
}
.background-relation-confidential {
    background-color: black;
}

.panel-relation-confidential {
    border-color: black;
}

.color-confidential {
    color: red;
}


.panel-heading {
    color: #fff;
}

.background-relation-loyalty {
    background-color: black;
}

.color-loyalty {
    color: red;
}

.panel-relation-loyalty {
    border-color: black;
}


.background-relation-trust{
    background-color: black;
}

.color-trust {
    color: red;
}

.panel-relation-trust {
    border-color: black;
}


.background-relation-respect {
    background-color: black;
}

.color-respect {
    color: red;
}

.panel-relation-respect {
    border-color: black;
}


.background-relation-funny {
    background-color: black;
}

.panel-relation-funny {
    border-color: black;
}

.color-funny {
    color: red;
}


.background-relation-affection {
    background-color: black;
}

.panel-relation-affection {
    border-color: black;
}

.color-affection {
    color: red;
}
