
<div class="top-margin-2 pull-right">
  <form *ngIf="!isLogged()" class="form-inline">
    <div class="form-group">
      <label for="user">{{ 'USER.USERNAME' | translate}}:</label>
      <input type="text" [(ngModel)]="user" name="user" class="form-control" id="user" disabled="{{loginDisabled}}">
    </div>
    <div class="form-group">
      <label for="pwd">{{ 'USER.PASSWORD' | translate}}:</label>
      <input type="password" class="form-control" name="password"  [(ngModel)]="password"  id="pwd" disabled="{{loginDisabled}}">
    </div>
    <a (click)="login()"  *ngIf="!loginDisabled"
    	class='btn btn-primary black-background white' style="top-margin=50px;margin-top: 12px;" ><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'BUTTON.LOGIN' | translate}}</a>
    <a *ngIf="!loginDisabled" href="/user"
    	class='btn btn-primary black-background white' style="top-margin=50px;margin-top: 12px;" ><i class="fa fa-user-plus" aria-hidden="true"></i> {{ 'BUTTON.REGISTER' | translate}}</a>
  </form>
  <div *ngIf="isLogged()" class="top-margin-2 pull-right">
    <p class="lead" *ngIf="isLogged()">{{ 'USER.WELCOME' | translate:welcome}}
      <button *ngIf="isLogged()"  class="btn btn-primary black-background white" style="top-margin=50px;margin-top: 12px;" (click)="logout()" ><i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'BUTTON.LOGOUT' | translate}}</button>
    </p>
  </div>
</div>
