
<div class="top-margin-2 pull-right">
  <form *ngIf="!isLogged()" class="form-inline">
    <div class="form-group">
      <label for="user">User:</label>
      <input type="text" [(ngModel)]="user" name="user" class="form-control" id="user" disabled="{{loginDisabled}}">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name="password"  [(ngModel)]="password"  id="pwd" disabled="{{loginDisabled}}">
    </div>
    <button type="submit" class="btn btn-default" (click)="login()"  *ngIf="!loginDisabled" >Sign in</button>
  </form>
      <button *ngIf="isLogged()"  class="btn btn-default" (click)="logout()" >Sign Out</button>
</div>
