
<div class="row affix-row">
	<div class="col-sm-3 col-md-2 affix-sidebar">
		<app-menu></app-menu>
	</div>
	<div class="col-sm-9 col-md-10 affix-content">
    <div class="row affix-row">
      <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
        <h1>{{ 'HOME.TITLE' | translate}}</h1>
      </div>
      <div class="col-md-7 col-sm-7 col-lg-7 col-xs-7">
          <my-login></my-login>
      </div>
    </div>
		<router-outlet></router-outlet>
	</div>
</div>
<div class="topcorner">
  <flash-messages></flash-messages>
</div>
