
<div class="row affix-row">
	<div class="col-sm-3 col-md-2 affix-sidebar">
		<app-menu></app-menu>
	</div>
	<div class="col-sm-9 col-md-10 affix-content">
    <div class="row affix-row">
      <div class="col-md-6">
        {{title}}
        <div [translate]="'HOME.TITLE'" [translateParams]="{value: 'world'}"></div>
        <div [innerHTML]="'HOME.TITLE' | translate:param"></div>
        <h2>{{ 'HOME.TITLE' | translate:param }}</h2>
        <h1>Titulo tituloso del título2</h1>
        <!--<h1>Recurso Rolero - Relaciones</h1>-->
      </div>
      <div class="col-md-6">
          <my-login></my-login>
      </div>
    </div>
		<router-outlet></router-outlet>
	</div>
</div>
