<app-title [title]="'USER'" [subtitle]="'New character'"></app-title>

<div class="col-md-12">
	<div class="pull-right">
		<app-button [button]="buttonHome"></app-button>
  	<app-button [button]="buttonCancel"></app-button>
  <a
  	class='btn btn-primary black-background white'
  	[ngClass]="buttonSave.getStyle()" (click)="save()" > {{buttonSave.message | translate}}</a>
	</div>
</div>

  <div class="col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h2 class="text-center">{{'NEWCHARACTER.NEW' | translate}}</h2>
      <h2><input class="nameBox"  [(ngModel)]="character.name" type="text" autofocus="on" required="on" aria-describedby="nameHelpBlock" title="The name of the character you are creating."></h2>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <h2 class="text-center">{{'GENERIC.GAME' | translate}}</h2>
        <h2><input auto-complete [source]="suggestedGames" class="nameBox"  [(ngModel)]="character.game" type="text" required="pff" [disabled]="gameGiven" aria-describedby="gameHelpBlock" title="The name of the game in witch the character exists. We suggest some game that actually exists, but you can create your own game."></h2>
    </div>
    <div class="col-md-3">
    </div>
  </div>

<app-help-box [title]="'NEWCHARACTER.TITLE'"
  [paragraphs]="['NEWCHARACTER.MESSAGE']"></app-help-box>
