<app-loading [loaded]=loaded></app-loading>
<app-title [title]="character?.name" [subtitle]="character?.user"></app-title>

<div class="col-md-12">
	<div class="pull-right">
		<app-button [button]="buttonHome"></app-button>
		<app-button *ngIf="game && game!='null'" [button]="buttonGame"></app-button>
		<app-button *ngIf="characterSelectedService.characterIsOwn()" [button]="buttonNew"></app-button>
		<app-button *ngIf="!characterSelectedService.characterIsOwn()" [button]="buttonNewNotOwner"></app-button>
	</div>
</div>

<div
	class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 toppad"
	*ngFor="let relationship of character?.relationships">
	<app-relationship-resume [relation]="relationship?.relation[0]"
		[name]="relationship?.characterName"></app-relationship-resume>
</div>

<app-help-box *ngIf="loaded"  [title]="'CHARACTER.TITLE'"
  [paragraphs]="['CHARACTER.MESSAGE1'
    ,'CHARACTER.MESSAGE2']"></app-help-box>
<app-relation-help></app-relation-help>
