<app-loading [loaded]="loaded && (nowLoaded===0 || nowLoaded===toLoad)"></app-loading>
<app-title [title]="otherName+'\'s relation'" [subtitle]="ownerName"></app-title>

<div class="col-md-12">
	<div class="pull-right">
		<app-button [button]="buttonHome"></app-button>
  	<app-button [button]="buttonCharacter"></app-button>
		<app-button *ngIf="characterSelectedService.characterIsOwn()" [button]="buttonNew"></app-button>
	</div>
</div>

<div style="margin-top:30px;">
  <app-chart *ngIf="nowLoaded>0 && nowLoaded===toLoad" [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-chart>
</div>

<div
	class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 toppad"
	*ngFor="let relation of relations">
	<app-relationship-resume [relation]="relation" [name]=""></app-relationship-resume>
</div>
