<app-title [title]="otherName+'\'s relation'" [subtitle]="ownerName"></app-title>

<div class="col-md-12">
	<div class="pull-right">
		<app-button [button]="buttonHome"></app-button>
  	<app-button [button]="buttonCharacter"></app-button>
		<app-button [button]="buttonNew"></app-button>
	</div>
</div>

<app-chart *ngIf="lineChartLabels.length>1" [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-chart>

<div
	class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 toppad"
	*ngFor="let relation of relations">
	<app-relationship-resume [relation]="relation" [name]=""></app-relationship-resume>
</div>
