<app-title [title]="titleMessage" [subtitle]="'HEADER.NEWRELATION.SUBTITLE | translate'"></app-title>

<div class="col-md-12">
	<div class="pull-right">
		<app-button [button]="buttonHome"></app-button>
		<app-button *ngIf="buttonGame" [button]="buttonGame"></app-button>
  	<app-button [button]="buttonCancel"></app-button>
  <a *ngIf="buttonSave"
  	class='btn btn-primary black-background white'
  	[ngClass]="buttonSave.getStyle()" (click)="save()" >{{buttonSave?.message | translate}}</a>
	</div>
</div>

<div class="col-md-3">
</div>
<div class="col-md-6">
  <h2 class="text-center">{{'NEWRELATION.NEW' | translate}}</h2>
  <h2><input class="nameBox"  [(ngModel)]="newName" type="text" autofocus="on" required="on"></h2>
</div>
<div class="col-md-3">
</div>

<app-help-box [title]="'NEWRELATION.TITLE'"
  [paragraphs]="['NEWRELATION.MESSAGE']"></app-help-box>
