<app-loading [loaded]=loaded></app-loading>
<app-title [title]="'Character\'s list'" [subtitle]="'All the characters'"></app-title>



<div class="col-md-12">
	<div class="pull-right">
		<app-button *ngIf="isLogged()" [button]="buttonNew"></app-button>
		<app-button *ngIf="!isLogged()" [button]="buttonNewNotLogged"></app-button>
	</div>
</div>

<div class="text-center" style="widht:100%; display: block;margin: auto;">
  <div *ngFor="let character of characters" class="col-md-3 col-xs-6 character-padded">
    <a [style.background]="toColor(character)" class="col-md-12 character-title character-link" href="#" [routerLink]="['character', character]"  routerLinkActive="active">{{character}}</a>
  </div>
</div>
<div class="col-md-12" style="height:10%;"></div>
