<app-loading [loaded]=loaded></app-loading>
<app-title [title]="'Game\'s list'" [subtitle]="'All the games created'"></app-title>

<div class="text-center" style="widht:100%; display: block;margin: auto;">
  <div *ngFor="let game of games" class="col-md-3 col-xs-6 character-padded">
    <a [style.background]="toColor(game)" class="col-md-12 character-title character-link" href="#" [routerLink]="['game', game]"  routerLinkActive="active">{{game}}</a>
  </div>
</div>
<div class="col-md-12" style="height:10%;"></div>


<div class="col-md-12">
  <app-list-page></app-list-page>
</div>
