<app-title [title]="'HEADER.USER.TITLE' | translate" [subtitle]="'HEADER.USER.SUBTITLE' | translate"></app-title>

<div class="col-md-12">
	<div class="pull-right">
		<app-button [button]="buttonHome"></app-button>
  	<app-button [button]="buttonCancel"></app-button>
  <a
  	class='btn btn-primary black-background white'
  	[ngClass]="buttonSave.getStyle()" (click)="save()" > {{buttonSave?.message | translate}}</a>
	</div>
</div>
  <div class="col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h2 class="text-center">{{ 'USER.USERNAME' | translate}}</h2>
      <h2><input class="nameBox"  [(ngModel)]="username" type="text" autofocus="on" required="on" (keyup.enter)="save()"></h2>
      <div *ngIf="!username && validated"  class="alert alert-dismissible alert-danger">
        {{'FIELD.MANDATORY' | translate}}
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h2 class="text-center">{{ 'USER.PASSWORD' | translate}}</h2>
      <h2><input class="nameBox"  [(ngModel)]="password" type="password" autofocus="on" required="on" (keyup.enter)="save()"></h2>
      <div *ngIf="!password && validated"  class="alert alert-dismissible alert-danger">
        {{'FIELD.MANDATORY' | translate}}
      </div>
      <div *ngIf="password && password.length<=4 && validated"  class="alert alert-dismissible alert-danger">
        {{'FIELD.LENGTH' | translate:minLength}}
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <app-help-box [title]="'USER.TITLE'"
    [paragraphs]="['USER.MESSAGE1','USER.MESSAGE2']"></app-help-box>
